

<head>
<title>Users</title>
</head>


<main>

<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
</section>

<div class="container">
<div class="row">
<div class="col-lg-3">

<%# 部分テンプレート呼び出し %>
<%= render 'post_images/list',post_images:@post_images %>

<div class="col-lg-8">
<h2>users</h2>
<table class="table table-striped">
<thead>
<tr>
<th>
<%= form_tag("URL",{multipart:true}) %>
<input name="image" type="file">
</th>
<th class="table_title">image</th>
<th class="table_body">name</th>
</tr>

</thead>
<tbody>
<% @users.each do |user| %>
<tr>
<td><%= user.name %></td>

<td><%=link_to "show" , book_path(user) %></td>

</tr>
<% end %>
</tbody>
</table>
</div>

</div>
</div>

</main>

<footer>

</footer>
