

<h2 class="top_title">welcome to Bookers!!</h2>
 <p class="top_text"> In Bookers,</p>
 <p>you can share and exchange your opinions , inpressions , and emotions</p>
 <p class="top_text">about varioius books!</p>

 <p class="top_login"><%= link_to "Log in" , new_user_session_path(@book) %></P>
 <p class="top_signin"><%= link_to "Sign up" , new_user_registration_path(@book) %></p>